.whole {
  text-align: center;
  font-size: large;
  width: 300px;
  justify-content: center;
}

.App {
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gainsboro;
  border-radius: 1000px;
  box-shadow: 0px 0px 70px white;
  margin: 100px;
  padding: 80px;
  width: 170px;
}

.putkimies {
  height: 150px;
  animation: putkimies infinite 5s;
  animation-direction: alternate-reverse;
  border-radius: 10px;
  box-shadow: 0px 0px 50px white;
  margin: 10px;
}

@keyframes putkimies {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}

